---
layout: page
title: Contact Me
permalink: /contact/
image: '/images/45.jpg'
---
<div class="form-container">
    {% if site.contact.description %}
    <p class="contact-description">{{site.contact.description}}</p>
    {% endif %}
    <form action="{% if site.contact.email %}https://formspree.io/{{site.contact.email}}{% else %}#{% endif %}"
          class="form"
          method="POST">
        <div class="form__group">
            <label class="form__label screen-reader-text" for="form-name">Your Name</label>
            <input class="form__input" id="form-name" name="name" placeholder="Name" required type="text">
        </div>
        <div class="form__group">
            <label class="form__label screen-reader-text" for="form-email">Your Email</label>
            <input class="form__input" id="form-email" name="_replyto" placeholder="Email" required type="email">
        </div>
        <div class="form__group">
            <label class="form__label screen-reader-text" for="form-text">Your Message</label>
            <textarea class="form__input" id="form-text" name="text" placeholder="Message" required
                      rows="10"></textarea>
        </div>
        <div class="form__group">
            <button class="button button--primary" type="submit">Send Message</button>
        </div>
        <input name="_next" type="hidden" value="{{ site.baseurl }}/contact/thanks/"/>
    </form>
    <hr>
</div>