{% if site.mailchimp == 'enable' %}
<div class="col col-4 col-d-6 col-t-12">
    <div class="widget widget-subscribe">
        <div class="widget__head">
            <h3 class="widget__title">Get Interesting News</h3>
        </div>
        <p class="subscribe-subtitle">Subscribe to our newsletter and we’ll send you the emails of latest posts.</p>
        <form action="{% if site.mailchimp-identifier %}//{{site.mailchimp-identifier}}{% else %}#{% endif %}"
              class="subscribe-form validate"
              id="membedded-subscribe-form"
              method="POST" name="membedded-subscribe-form" novalidate target="_blank">
            <div class="subscribe-group">
                <div class="subscribe-group-top">
                    <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                    <input class="subscribe-email required email" id="mce-EMAIL" name="EMAIL" placeholder="Email Address"
                           type="text">
                    <button class="subscribe-button button button--primary" id="membedded-subscribe" name="subscribe"
                            type="submit">Join
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}